version: "3.7"

services:
  securebank-proxy:
    container_name: securebank-proxy
    build:
      dockerfile: Nginx.Dockerfile
    ports:
      - "80:80"
      - "443:443"
    restart: always
  securebank-website:
    container_name: securebank-website
    depends_on:
      - securebank-proxy
    build:
      dockerfile: Main.Dockerfile
    ports:
      - "8080:8080"
    restart: always